.next-round-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #5a7743;
  color: white;
  border: none;
  border-radius: 5px;
  font-family: "WonderLight";
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.next-round-button:hover {
  background-color: #415632;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.next-round-button:active {
  transform: translateY(1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
