@font-face {
  font-family: WonderLight;
  src: url(../../../src/assets/Font/Wonder-Light.otf);
}

#root {
  font-family: wonderlight, sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0;
  text-align: center;
}
